ul {
  list-style-type: none;
}

.App {
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  float: left;
  color: white;
  background-color: blue;
}

.interact {
	width: 300px;
	height: 100px;
	top: 20%;
	left: 250px;
	position: absolute;
	float: left;
}